<div class="form-group has-feedback" [ngClass]="{'has-error': hasError, 'has-success': hasSuccess}">
  <label for="{{config.key}}" class="control-label">{{config.label}}</label>
  <input 
    class="form-control"
    id="{{config.key}}"
    [formControl]="control"
    [textMask]="{mask: mask, guide: false}"
    placeholder="{{config.placeholder}}">
    <span class="glyphicon form-control-feedback" aria-hidden="true" [ngClass]="{'glyphicon-ok': hasSuccess, 'glyphicon-remove': hasError}"></span>
    <span 
      id="helpBlock_{{config.key}}"
      *ngIf="hasError"
      class="help-block">
        A block of help text that breaks onto a new line and may extend beyond one line.
      </span>
</div>
