<div class="center">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <app-base-input [formGroupHandle]="formGroup" [showErrors]="myForm.submitted"></app-base-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type ="submit"> Done! </button>
      </div>
    </div>
  </form>
</div>


